html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(70deg, #141e30, #612d2d);
}

h1,
h2 {
    text-align: center;
    font-size: 24px;
    color: white;
}

h2 {
    color: white;
    font-size: 18px;
}

ul {
    list-style: none;
    max-width: inherit;
}

canvas {
    background-color: white;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    display: block;
    /* width: 800px; */
}

p {
    margin: 0;
}

li {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    max-width: inherit;
    color: white;
}

button,
input {
    z-index: 0;
}

.waitSpeedLabel {
    margin: 1rem;
    color: white;
}


.toolbar {
    text-align: center;
    max-width: fit-content;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0 !important;
    z-index: 0;
}

.tool-bar-item {
    margin: 0.35rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    margin: 1vw;

}

.grid-child {
    background-color: rgb(67, 67, 67);
    border-radius: 2rem;
    margin: auto;
    margin-top: 1vh;
    padding: 1rem;

    word-wrap: break-word;
    width: 600px;
}

.number-input {
    display: inline;
    max-width: 100px;

}



.vertical-separator {
    border-left: 4px solid slategray;
    height: 100%;
    display: inline-block;
}

.search-card {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 400px;

    background-color: rgba(255, 255, 255, 0.8);
    color: black !important;
    font-weight: 500;
    border-radius: 1rem;
}

.top-right {
    position: absolute;
    /* top: 10px;
    right: 10px; */
}

.settings-gear {
    position: absolute;
    top: 10px;
    right: 10px;
}

.main {
    z-index: 1 !important;
}

/* #slideout {
    position: fixed;
    top: 40px;
    left: 0;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#slideout_inner {
    position: fixed;
    top: 40px;
    left: -250px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;

    background-color: rgba(255, 255, 255, 0.4);
    height: 100%;
    width: 100%;
}

#slideout:hover {
    left: 250px;
    color: red !important;
}

#slideout:hover #slideout_inner {
    left: 0;
} */