h1 {
    text-align: center;
    
}
ul {
    list-style: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr
}

.grid-child {
    background-color: aquamarine;
    border: 1px red solid;
    margin: 1rem;
}